.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .card-image{
        // flex-grow: 3;
    }

    .card-body{
        flex-grow: 3;
    }

    .card-footer{
        flex-grow: 1;
    }
}