@mixin card-inline-style($image-width){
    display: grid;
    grid-template-columns: 1fr $image-width;
    grid-template-rows: 1fr;
    gap: 1rem;

    .card-image{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .card-content{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.card-container{
    display: flex;
    flex-direction: column;

    .card-image{
        flex-grow: 2;
    }

    .card-content{
        flex-grow: 3;
        display: flex;
        flex-direction: column;

        &__center{
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    @media (max-width: 640px){
        @include card-inline-style(10rem);
    }

    // add mixins for inline style
    &__inline{
        @include card-inline-style(15rem);

        @media (max-width: 640px){
            grid-template-columns: 1fr 10rem;
        }

    }
}

@media (max-width: 640px){
    .card-container:has(.card-content__center){
        display: flex;
        flex-direction: column;

        .card-image{
            flex-grow: 2;
        }

        .card-content__center{
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: left;
            margin-left: 0;
        }
    }
}
