.card-container{
    display: flex;
    flex-direction: column;

    .card-image{
        flex-grow: 2;
    }

    .card-content{
        flex-grow: 3;
        display: flex;
        flex-direction: column;

        &__center{
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__inline{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.2rem;

        .card-image:has(img){
            order: 1;
            max-width: 20rem;
            width: 40%;

            @media (max-width: 640px) {
                width: 30%;
            }
        }

        .card-content{
            display: flex;
            flex-direction: column;
            max-width: 60%;

            @media (max-width: 640px) {
                max-width: 70%;
            }

            :not:has(.card-image > img){
                width: 100%;
            }
        }
    }
}
