<div class="container">
  <h1 class="top-heading">Top heading</h1>

  <div class="stories-grid">
    <div class="col col-left">
      <app-story-block
        *ngFor="let story of headlineStories.slice(2, 5)"
        class="story-block"
        [story]="story"
      ></app-story-block>
    </div>

    <div class="col col-center">
      <app-story-block
        *ngFor="let story of headlineStories.slice(0, 2)"
        class="story-block"
        [story]="story"
      ></app-story-block>
    </div>

    <div class="col col-right">
      <app-story-block
        *ngFor="let story of headlineStories.slice(5, 8)"
        class="story-block"
        [story]="story"
      ></app-story-block>
    </div>
  </div>
</div>
