.top-heading{
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  color: #334155;
  border-bottom: 2px solid #94a3b8;
  width: 85vw;
  margin: 0 auto;
  padding: 1.5rem;
}

.stories-grid {
  display: grid;
  grid-template-columns: 12rem 1fr 12rem;
  gap: 2rem;
  width: 85vw;
  margin: 0 auto;

  .col{
    display: flex;
    flex-direction: column;

    .story-block:nth-child(n){
        border-bottom: 1px solid #94a3b8;
        padding-top: 1rem;
    }

    .story-block:last-child{
        border-bottom: 0px;
    }
  }

  .col-center{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    order: 1;
  }

  .col-left{
    grid-column: 1 / 2;
  }
  
  .col-right{
    grid-column: 3 / 4;
  }
}
