.stories-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;

  /* .main-story-block {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  } */

  .col{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    // justify-content: space-between;

    .story-block:nth-child(n){
        // border-bottom: 1px solid gray;
        // TODO: to be removed
        border: 2px dotted green;
    }

    .story-block:last-child{
        border-bottom: 0px;
    }
  }

  .col-center{
    flex-grow: 3;
    order: 1;

    .story-block:first-child{
        flex-grow: 3;
    }

    .story-block:last-child{
        flex-grow: 1;
    }
  }

  .col-left{
    order: 0;
  }
  
  .col-right{
    order: 2;
  }

  // .story-block {
  //   padding: 0.8rem 0.4rem;
  // }

  /* @media screen and (min-width: 760px) {
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    grid-template-rows: repeat(3, minmax(14rem, 1fr));

    .main-story-block {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  } */
}
