<div class="container">
  <h2 class="top-heading">Top heading</h2>

  <div class="stories-grid">
    <div class="col col-left">
      <div *ngFor="let story of headlineStories.slice(2, 5)" class="story-block">
        <!-- <app-story-block class="story-block" [newsDetails]="story"></app-story-block> -->
        <app-card>
          <img card-image src="'./photos/' + story.img" alt="image" srcset="" width="5rem"/>
          <div card-body>
            <h2>{{ story.headline }}</h2>
            <p>{{ story.subHeading }}</p>
          </div>
          <div card-footer>
            Published by: <span>{{story.author}}</span>
          </div>
        </app-card>
      </div>
    </div>

    <div class="col col-center">
      <div *ngFor="let story of headlineStories.slice(0, 2)">
        <app-story-block
          class="story-block"
          [newsDetails]="story"
        ></app-story-block>
      </div>
    </div>

    <div class="col col-right">
      <div *ngFor="let story of headlineStories.slice(5, 8)">
        <app-story-block
          class="story-block"
          [newsDetails]="story"
        ></app-story-block>
      </div>
    </div>
  </div>
</div>
