<div class="content">
  <div class="top-heading">
    <h2>Top heading</h2>
    <div class="headline-stories">
      <div
        *ngFor="let hlStory of headlineStories; let i = index"
        [ngClass]="{
          'story-card': true,
          'main-story-block': hlStory.isMainStory
        }"
      >
        <app-story-block
          [headline]="hlStory.headline"
          [subHeading]="hlStory.subHeading"
          [desc]="hlStory.desc"
          [publishedOn]="hlStory.publishedOn"
          [storyUrl]="hlStory.url"
          [isMainStrory]="hlStory.isMainStory"
        ></app-story-block>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dignissimos
  sint fugiat nam, blanditiis veniam impedit voluptas! Harum, iure nostrum.
</div>
